body {
    font-family: 'Bentham', serif;
}

.section1 {
    width: 100%;
    height: 100vh;
    z-index: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: slideshow 30s infinite;
}

/*slideshow keyframmes*/
@keyframes slideshow {
    0% {
        background-image: url('../images/namelokBG3.jpg');
    }

    25% {
        background-image: url('../images/namelokBG2.jpg');
    }

    50% {
        background-image: url('../images/namelokBG.jpg');
    }

    75% {
        background-image: url("../images/aboutUs2.jpg");
    }

    100% {
        background-image: url('../images/namelokBG3.jpg');
    }


}

.tint {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    /* Dark overlay */
    z-index: 1;
}

.title {
    width: 90%;
    height: 10vh;
    padding-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: relative;
    z-index: 2;

}

.logo {
    padding-left: 15vh;
    z-index: 2;
    color: #f38a03;
}

/*navigation bar styling*/
.nav {
    width: 60vh;
    padding-right: 0vh;
    z-index: 2;
}

.navbar {
    width: 93%;
    margin: auto;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
}

.nav ul {
    width: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.nav ul li {

    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;

}

.navbar ul li:hover {
    color: #f38a03;
    text-decoration: underline #f38a03 3px;
    cursor: pointer;

}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/*end navigation bar styling*/


/*main text styling*/

.mainBody {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%; 
    height: 80vh;
    text-align: center;
    position: relative;
    z-index: 2;
    color: white;
}


.mainText h2 {
    font-size: 10vh;
    margin-bottom: 2vh;
    position: relative;
    left:40%;
    z-index: 2;
    color: white;
    animation: slideIn 2s ease-out;
}

/* Animation Keyframes */
@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.mainText a {
    width: 200px;
    padding: 15px 0;
    background: transparent;
    border: 2px solid #FFA500;
    font-weight: bold;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin: 20px 10px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    position: relative;
    left:43%;
    overflow: hidden;
}

.mainText a:hover span {
    width: 100%;
}

.mainText a:hover {
    background-color: #FFA500;

}

/* Animation for paragraph */
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.mainText p {
    font-size: 2.5vh;
    position: relative;
        left:40%;
    z-index: 2;
    color: white;
    animation: slideInLeft 2s ease-out;

}

/*end main text styling*/

/*About us section styling*/
.section2 {
    width: 100%;
    height: 120vh;
}

/*About us section styling*/

.aboutUs {
    display: flex;
    gap: 8vh;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    /* width: 100%; */
    margin-left: 10vh;
    margin-right: 10vh;
}

.aboutUsImg {
    width: 80vh;
    height: 80vh;
    border-radius: 5vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
 
    
}

.aboutUsImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.aboutUsText {
    width: 40%;
}

.aboutUsText h2 {
    color: #f38a03;
}

.aboutUsText p {
    font-size: 3vh;
    width: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*End about us section styling*/


/* Gallery section styling */
.section3 {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    background-color: rgb(255, 229, 180,0.5);
    padding-top:5vh;
}

.gallery-heading h2 {
    font-size: 2.5rem;
    color: #FFA500; /* Orange heading */
    margin-bottom: 10px;
}

.gallery-heading p {
    font-size: 1rem;
    color: #444;
    margin-bottom: 40px;
}

.galleryContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 85%;
    max-width: 1000px;
}

.carousel-inner img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #FFA500;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.carousel-inner img:hover {
    transform: scale(1.02);
}

/* Carousel controls */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000;
    border-radius: 50%;
    padding: 10px;
}

/*End gallery section*/

/*Contact section styling*/
.section4 {
    width: 100%;
    height: 100vh;
}

.mainContact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 3%;
}

.contactSummary {
    width: 45vh;
}

.input-tab {
    position: relative;
    margin-bottom: 5%;

}

.input {
    padding: 10px;
    width: 400px;
    height: 6vh;
    border: none;
    border-radius: 20px;
    font: inherit;
    color: black;
    background-color: transparent;
    outline: 2px solid white;
}

.input-label {
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transition: transform.25s;
}

.input:focus+.input-label,
.input:valid+.input-label {
    transform: translate(10px, -14px) scale(0.8);
    color: white;
    padding-inline: 5px;
    background: #242329;
    border: 2px solid #f38a03;


}

.input:is(:focus, :valid) {
    outline-color: #f38a03;

}

.button {
    text-align: center;
    /* centers the button inside the div */
    margin-top: 20px;
    /* optional: adds space above the button */
}

.submit {
    width: 100px;
    /* height: 5vh; */
    font-size: 15px;
    color: #fff;
    background-color: #000;
    border: 1px solid orange;
    color: black;
    background-color: transparent;
    border: 1px solid #f38a03;
    border-radius: 50px;
}

.submit:hover {
    cursor: pointer;
    box-shadow: 5px 3px 3px 3px rgb(53, 53, 53);
    background-color: #242329;
}


/*-----------------form----------------*/
.col-sm-6 {
    width: 600px;
    float: left;
    margin: 10px;
}


.j-form {
    background: url(Images/fire.jpg);
    width: 500px;
    height: 400px;
    padding: 0 8px;
    padding-top: 8px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-left: 10px;

}

.j-form input,
button {
    padding: 8px;
    margin: 10px;
    width: 80%;
}

.j-form textarea {
    width: 80%;
    padding: 8px;
    margin: 10px;
}

#contact h3,
h2 {
    color: #8c2727;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    padding: 10px;
}

/*--------------cards------------*/
sections {
    display: flex;
    flex-flow: row;
    float: left;
    height: 400px;
    margin-left: 150px;
    margin-top: 60px;
    width: 400px;
}

sections p {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 25px;
}

sections h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

sections div {
    height: 300px;
    width: 250px;
    color: white;
    padding: 35px;
    border-radius: 14px;
    min-width: 20px;
    box-shadow: 12px 8px 32px -12px black;
    margin-left: -130px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

sections div:nth-child(1) {
    background: #000;
}

sections div:nth-child(2) {
    background: #8c2727;
}

sections div:nth-child(3) {
    background: #356548;
}

sections div:hover {
    transform: translate(-16px) rotate(3deg);
}

sections div:hover~div {
    transform: translateX(130px);
}


/* Newsletter section begins*/

.section5 {
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
    padding-top: 5vh;
    background-image: url(../images/namelokBG3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

.tint2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    /* Dark overlay */
    z-index: 1;
}

/* arrow */

.upArrow {
    height: 4vh;
    z-index: 2;
}

.upArrowCont {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 5vh;
    right: 5%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
}

.upArrowCont :hover {
    cursor: pointer;
}

.section5 h2 {
    z-index: 2;
}

.newsLetter {
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.newsLetterInfo {
    width: 50%;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    color: white;
    padding-left: 25vh;
    padding-top: 6vh;
    z-index: 2;
}

.newsLetterInfo h2 {
    width: 65vh;
    color: #f38a03;
    font-size: 7vh;
}

.newsLetterInfo p {
    width: 65vh;
    font-size: 3vh;
}

.newsLetterForm {
    z-index: 2;
    width: 50%;
    padding-top: 9vh;

}

.form {
    padding-top: 9vh;
    z-index: 2;
    width: 80vh;
    height: 70vh;
    background-color: rgb(243, 138, 3, 0.4);
    padding: 4vh;
    padding-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2.7vh;
}

.form label {
    z-index: 2;
    color: white;
}

.form input {
    z-index: 2;
}

.subscribeBtn {
    background-color: #FFA026;
    font-weight: 600;
}

/* footer styling*/
.footer {
    height: 7vh;
    /*background-color: #8B5E3C;*/
    color: black;
    text-align: center;
    padding: 1vh;
    font-size: 2.11vh;
}