body {
    font-family: 'Bentham', serif;
}

.section1 {
    width: 100%;
    height: 100vh;
    z-index: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: slideshow 30s infinite;
}

/*slideshow keyframmes*/
@keyframes slideshow {
    0% {
        background-image: url('../images/namelokBG.jpg');
    }

    25% {
        background-image: url('../images/aboutUs3.jpg');
    }

    50% {
        background-image: url('../images/aboutUs2.jpg');
    }

    75% {
        background-image: url("../images/namelokBG2.jpg");
    }

    100% {
        background-image: url('../images/namelokBG.jpg');
    }


}

.tint {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
<<<<<<< HEAD
    background-color: rgba(0, 0, 0, 0.45);
=======
    background-color: rgba(0, 0, 0, 0.7);
>>>>>>> 059474ca291bad326cf141a17fbf54126d6962cf
    /* Dark overlay */
    z-index: 1;
}

.title {
    width: 90%;
    height: 10vh;
    padding-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: relative;
    z-index: 2;

}


.logo {
    padding-left: 15vh;
    z-index: 2;
<<<<<<< HEAD
    color: orangered;
=======
    color: orange;
>>>>>>> 059474ca291bad326cf141a17fbf54126d6962cf
}

/*navigation bar styling*/
.nav {
    width: 60vh;
    padding-right: 0vh;
    z-index: 2;
<<<<<<< HEAD
    position: fixed;
}
.navbar{
    width: 100%;
    margin: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.logo{
    /* width: 60px;
    height: 60px; */
    cursor: pointer;
    border-radius: 50%;
=======
>>>>>>> 059474ca291bad326cf141a17fbf54126d6962cf
}

.nav ul {
    width: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.nav ul li {

    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;

}

.navbar ul li:hover {
<<<<<<< HEAD
    color: orangered;
    text-decoration: underline orangered 3px;
=======
    color: orange;
    text-decoration: underline orange 3px;
>>>>>>> 059474ca291bad326cf141a17fbf54126d6962cf
    cursor: pointer;

}


.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
<<<<<<< HEAD
    color: rgb(244, 151, 120);
=======
    color: white;
>>>>>>> 059474ca291bad326cf141a17fbf54126d6962cf
    text-decoration: none;
    font-weight: bold;
}

/*end navigation bar styling*/


/*main text styling*/

.mainBody {
    display: flex;
<<<<<<< HEAD
    /* justify-content: center; */
=======
    justify-content: center;
>>>>>>> 059474ca291bad326cf141a17fbf54126d6962cf
    align-items: center;
    height: 80vh;
    text-align: center;
    position: relative;
    z-index: 2;
    color: white;
}

<<<<<<< HEAD
/* Animation Keyframes */
@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.mainText h2 {
    font-size: 10vh;
    margin-bottom: 2vh;
    position: relative;
    z-index: 2;
    color: white;
    animation: slideIn 2s ease-out;

}

.mainText a{
    width: 200px;
    padding: 15px 0;
    background: transparent;
    border: 2px solid #e65d3f;
    font-weight: bold;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin: 20px 10px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}
.mainText a:hover span {
    width: 100%;
}
.mainText a:hover {
    background-color: #e65d3f;

}

/* Animation for paragraph */
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
=======
.mainText h2 {
    font-size: 5vh;
    margin-bottom: 2vh;
    position: relative;
    z-index: 2;
    color: orange;

}

>>>>>>> 059474ca291bad326cf141a17fbf54126d6962cf
.mainText p {
    font-size: 2.5vh;
    position: relative;
    z-index: 2;
    color: white;
<<<<<<< HEAD
    animation: slideInLeft 2s ease-out;
=======
>>>>>>> 059474ca291bad326cf141a17fbf54126d6962cf

}

/*end main text styling*/


.section2 {
    width: 100%;
    height: 100vh;
}

/*About us section styling*/

.aboutUs {
    display: flex;
    gap: 4vh;
    justify-content: center;
    align-items: center;
    padding-top: 7vh;
}

.aboutUsImg img {
    width: 70%;
    border-radius: 4vh;
}

.aboutImg {
    height: 70vh;
}

.aboutUsText p {
    font-size: 3vh;
    width: 45vh;

}

/*End about us section styling*/


.section3 {
    width: 100%;
    height: 100vh;
    text-align: center;
}

.galleryContainer {
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    padding-top:4vh;
=======
    padding-top: 4vh;
>>>>>>> 059474ca291bad326cf141a17fbf54126d6962cf
}

.carousel {
    width: 70%;
    height: 80vh;

}

.carousel-inner img {
    width: 70vh;
    height: 70vh;
    border-radius: 1vh;
}

.section4 {
    width: 100%;
    height: 100vh;
}

.mainContact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 3%;
}

<<<<<<< HEAD
.contactSummary{
    width:45vh;
=======
.contactSummary {
    width: 45vh;
>>>>>>> 059474ca291bad326cf141a17fbf54126d6962cf
}

.input-tab {
    position: relative;
    margin-bottom: 5%;

}

.input {
    padding: 10px;
    width: 400px;
    height: 6vh;
    border: none;
    border-radius: 20px;
    font: inherit;
    color: black;
    background-color: transparent;
    outline: 2px solid white;
}

.input-label {
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transition: transform.25s;
}

.input:focus+.input-label,
.input:valid+.input-label {
    transform: translate(10px, -14px) scale(0.8);
    color: white;
    padding-inline: 5px;
    background: #242329;
    border: 2px solid orange;


}

.input:is(:focus, :valid) {
    outline-color: orange;

}

.submit {
    width: 100px;
    height: 5vh;
    font-size: 15px;
    color: black;
    background-color: transparent;
    border: 1px solid orange;
    border-radius: 50px;
}

.submit:hover {
    cursor: pointer;
    box-shadow: 5px 3px 3px 3px rgb(53, 53, 53);
}



.section5 {
    width: 100%;
<<<<<<< HEAD
    height: 100vh;
}

/*-----------------form----------------*/
.col-sm-6{
    width: 600px;
    float: left;
    margin: 10px;
}
.button{
    color: #647bff;
    
}
.j-form{
    background: url(Images/img1.jpg);
    width: 500px;
    height: 400px;
    padding: 0 8px;
    padding-top: 8px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-left: 10px;

}
.j-form input, button {
    padding: 8px;
    margin: 10px;

    width: 80%;
}
.j-form textarea{
    width: 80%;
    padding: 8px;
    margin: 10px;
}
#contact h3, h2{
    color: #8c2727;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    padding: 10px;
}

/*--------------cards------------*/
sections{
    display: flex;
    flex-flow: row;
    float: left;
    height: 400px;
    margin-left: 150px;
    margin-top: 60px;
    width: 400px;
}
sections p{
    font-family: sans-serif;
    font-size: 14px;
    line-height: 25px;
}
sections h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
sections div{
    height: 200px;
    width: 250px;
    color: white;
    padding: 35px;
    border-radius: 14px;
    min-width: 20px;
    box-shadow: 12px 8px 32px -12px black;
    margin-left: -130px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}
sections div:nth-child(1){
    background: #000;
}
sections div:nth-child(2){
    background: #8c2727;
}
sections div:nth-child(3){
    background: #356548;
}
sections div:hover {
    transform: translate(-16px) rotate(3deg);
}
sections div:hover ~ div {
    transform: translateX(130px);
=======
    height: 70vh;
    text-align: center;
    position: relative;
}

.upArrow {
    height: 4vh;
    z-index: 2;
}

.upArrowCont {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 5vh;
    right: 5%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
}


.section5 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
>>>>>>> 059474ca291bad326cf141a17fbf54126d6962cf
}


/* footer styling*/
.footer {
    height: 7vh;
    background-color: #8B5E3C;
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
}